<config>
    <url>
        <ninite>https://ninite.com/.net4.7.2-7zip-adoptjava8-adoptjavax11-adoptjavax8-air-chrome-firefox-silverlight-vlc/ninite.exe</ninite>
        <dellCommand>https://downloads.dell.com/FOLDER05055451M/1/Dell-Command-Update_DDVDP_WIN_2.4.0_A00.EXE</dellCommand>
    </url>
    <general>
        <taskname>ComputerSetup</taskname>
        <domain>example.com</domain>
    </general>
    <location>
        <ou>
            <name>Example1</name>
            <path>OU=Example1,OU=This,DC=Example,DC=com</path>
        </ou>
        <ou>
            <name>Example2</name>
            <path>OU=Example2,OU=This,DC=Example,DC=com</path>
        </ou>
        
    </location>
</config>